.top {
  background-color: red;
  color: #fff;
  display: flex;
  height: 150px;
  flex-wrap: wrap;

  .textSearchButton{
    font-size: 20px
  }

  .top-left {
    flex: 70;
    margin-left: 10px;
  }
  .top-right {
    flex: 30;
    img{
      height: 120px
    }
  }
}

input {
  alignment: right;
  height: 30px;
}

.picture{
  background-color: lightblue;
  margin: 20px;
  border-radius: 25px ;

.pokemonImage {
    height: 300px;

  }
  .pokemonName{
   text-align: center;
    font-size: 40px;
  }
}
.nameAndId{
  display: flex;


}
.idPokemon{
  text-align: center;
  font-size: 30px;

}
.pokemonsInfo{
  display: flex;
}
